body{
	margin : 0;
	padding: 0;
	font-family: sans-serif;
}
/*--------------------------HEADER------------------------------*/


#header{
	height: 100vh;
	background : linear-gradient(rgba(2,0,0,0.6),rgba(2,0,0,0.7)),url(Images/backgroundImage.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.intro{
	display: flex;
	padding-top: 30px;
	text-align: center;
}

.typing{
	position: relative;
	margin-left: 10px;
}

.typing::after{
	content: "";
	position: absolute;
	right: -5px;
	width: 2px;
	height: 100%;
	border-right: 2px solid white;
	animation: blink 0.7s infinite ease;
}

 @keyframes blink {
 	0% {
 		opacity: 0;
 	}
 	100% {
 		opacity: 1;
 	}
 }

.user-box{
	top: 43%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	padding-bottom: 40px;
}

.user-box img{
	border-radius: 50%;
	width: 250px;
	border : 2px solid #B1E1E4 ;
}

.user-box {
	color: #E9DCEA;
	text-align: center;
  padding-top:10em;
}

.user-box p{
	color: white;
}

/*----------------About----------------------------*/

.about{
    padding-top : 100px;
    padding-bottom:  50px;
	font-family: sans-serif;
	left:0;
}


.about img{
	height: 40px;
	width: 40px; 
}

.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar{
	/*background-color: #000;*/
	background-color: #36153A;
}
.logo{
	height: 50px;
	border-radius: 50%;
}

.nav-bar .fa-bars{
	font-size: 30px;
	color : #fff;
}

.navbar-brand img{
	height: 50px;
} 

.navbar-toggler{
	outline: none !important;
}
.navbar-nav{
	float: right;
	text-align: right;
}

.nav-link{
	color: #fff !important;
}

/*------------------------Educational Timeline--------------*/

#Education{
	
	background: rgb(2,0,36);
	background: linear-gradient(355deg, rgba(2,0,36,1) 0%, rgba(61,5,64,0.8970938717283788) 100%);
	color: #E9DCEA;
	padding-bottom: 30px; 
}

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

#num{
	size: 20px;
	color: black;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #E9DCEA;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #E9DCEA;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
#do-some {
	font-size: 20px;
	color: #5C3061 ;
}

.services{
	padding-top: 100px;
	padding-bottom: 60px;
	color: #36153A;
}
.services h2{
	margin-bottom: 30px;
	color: #36153A;

} 

.services-box{
	background: #f9f9f9;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.services-box .fa{
	margin: 0 10px;
	font-size: 30px;
}

.services-box .span{
	margin: 0 10px;
	font-size: 30px;
	font-weight: bold;
}

.services-box p{
	
	font-size: 25px;
	margin-top: 20px;
	color: #777;
} 

.services-box p:hover{
	color: #E9DCEA;
}

.services-box:hover{
	background-color: #36153A;
	color: white;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}


.technicals{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #36153A;
	width: 100%;
}


.technicals h2{
	margin-bottom: 30px;
	color: #36153A;
} 


.technicals-box{
	background: #f9f9f9;
	/*padding: 4px;*/
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.technicals-box img{
	border-radius: 30%;
	height: 100px;
	width: 100px;
	margin: 0 10px;
	vertical-align: center;
}

.technicals-box p{
	margin: 0 10px;
	font-weight: bold;
}


.technicals-box:hover{
	background-color: #36153A;
	color: white;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

#contact{
	padding-top: 50px;
	padding-bottom: 35px;
	background : linear-gradient(rgba(2,0,0,0.6),rgba(2,0,0,0.7)),url(Images/backgroundImage.jpg);*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	
}

#contact p{
	font-size: 20px;
}

#contact i{
	font-size: 30px;
}

/*Download Button Part*/


@media screen and (max-width: 599px) {

.about{
	padding-top: 60px;
	width: 100%;
	padding-bottom: 60px;
	
}

  .technicals{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #36153A;
  width: 100%;
  height: 30%;
}

.technicals h3{
  margin-bottom: 10px;
  color: #36153A;
} 

.container{
	width: 100%;
	height: 100%;
}

.technicals-box{
  background: #f9f9f9;
  padding: 4px;
  margin-top: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.technicals-box img{
  border-radius: 30%;
  height: 100px;
  width: 100px;
  margin: 0 10px;
}

.technicals-box p{
  margin: 0 10px;
  font-weight: bold;
  font-size: 15px;
}


.technicals-box:hover{
  background-color: #36153A;
  color: white;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 1s;
}

}


